@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

:root {
	--color-tomato: hsl(4, 100%, 67%);
	--color-dark-slate-grey: hsl(234, 29%, 20%);
	--color-charcoal-grey: hsl(235, 18%, 26%);
	--color-grey: hsl(231, 7%, 60%);
	--color-white: hsl(0, 0%, 100%);
}

html {
	font-size: 16px;
}